<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Time2Stretch.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Time2Stretch.Properties.Settings>
            <setting name="OpenSettingsOnStartup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TimeBetweenBreaksInMinutes" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="BreakDurationInMinutes" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="NotificationMessage" serializeAs="String">
                <value>Time to stand up and stretch!</value>
            </setting>
            <setting name="AddImagesToNotification" serializeAs="String">
                <value>True</value>
            </setting>
        </Time2Stretch.Properties.Settings>
    </userSettings>
</configuration>